$colorBlack: black;
$colorTop: white;
$colorPlans: #4bb84a;
$colorHero: #0691ff;
$colorFooter: #999;

$fontNav: 14px;
$fontSubapartados: 10px;
$fontBenefits: 35px;
$fontTitle: 3rem;
$fontSubtitle: 1.5rem;
$fontBenefit-title: 1.25rem;

/*$colorText
$colorBackground */

.header {
    background-color: $colorBlack;
}

.link {
    color: $colorTop;
    font-size: $fontNav; 
}

.link-signup:before  {
    content: '|';
    color: $colorTop;
    padding-left: 4px;
}

.link:hover {
    color: $colorPlans;
}
    
.hero{
    background-color: $colorHero;
    color: $colorTop;
    &-title{
        color: $colorTop;
        font-size: $fontTitle;
    }
    &-subtitle{
        color: $colorTop;
        font-size: $fontSubtitle;
    }
    &-plans {
        background-color: $colorPlans;
        color: $colorTop;
        font-size: $fontSubapartados;
    }
    &-policy {
        color: $colorTop;
        font-size: $fontSubapartados;
    }
}



.benefits-title {
  font-size: $fontBenefits;
  color: $colorBlack;
}

  .benefit-title {
    font-size: $fontBenefit-title;
  }

