@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/parte-azul';
@import 'layout/parte-blanca';
@import 'layout/footer';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'pages/index';


/* reset styles */
  
  a {
    color: white;
    text-decoration: none;
  }
  
  body {
    margin: 0;
  }
  
  .main {
    margin-top: 60px; /* esto es lo que mide el header */
  }

  .header-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo-registro{
    height: 30px;
  }

  .registrate-fb{
    color: blue;
  }

  .registrate-gg{
    color: red;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media all and (min-width: 768px) {
  
    .hero {
      background-image: url(../images/premium-dancer.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
    }
    .hamb{
      display: none;
    }
    .nav{
      display: block;
    }
    .hero-title {
      margin-top: 100px;
    }
    .benefits {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 700px;
    }
  
    .benefit {
      width: 50%;
    }
  }
  
  @media all and (min-width: 1200px) {
    .benefits {
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 1000px;
    }
  
    .benefit {
      display: block;
    }
  }
  